################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CPlus/v17
/洛谷C++/.vs/洛谷C++/FileContentIndex
